{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% load crispy_forms_tags %}
<div class="login">
  
  {% block head_title %}
  {% trans "Sign In" %}
  {% endblock %}

  {% block inner %}
  <h1>{% trans "Sign In" %}</h1>
  {% get_providers as socialaccount_providers %}

  <!-- 소셜계정 있다면 if문 실행 없다면 else문 실행 -->
  {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}
      로그인 해주세요. 만약 계정이 없다면 여기서 만드세요! 
      <a href="{{ signup_url }}">계정만들기</a>
      <div class="clearfix"></div>
      {% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% else %}
  <p>{% blocktrans %}
    If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.
    {% endblocktrans %}</p>
  {% endif %}
  <!--소셜계정 if문 끝 -->
  <!-- 로그인 폼 -->
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
		<input type="submit" class="button color big" id="sendMessageButton" value = "로그인">
    
  </form>
    <div class="clearfix"></div>
    <a href="{% provider_login_url 'github' %}"><img src = "{% static 'images/github_logo.jpg' %}" style = "width:100px; float:left"></a>
    <a href="{% provider_login_url 'kakao' %}"><img src = "{% static 'images/kakao_logo.jpg' %}" style = "width:100px; float:left"></a>
    <a href="{% provider_login_url 'google' %}"><img src = "{% static 'images/google_logo.jpg' %}" style = "width:100px; float:left"></a>
    <a href="{% provider_login_url 'facebook' %}"><img src = "{% static 'images/facebook_logo.jpg' %}" style = "width:100px; float:left"></a>
</div>
<!--로그인 클래스 끝  -->

{% endblock %}

<script src="{% static 'scripts/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'scripts/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'scripts/jquery.royalslider.min.js' %}"></script>
<script src="{% static 'scripts/responsive-nav.js' %}"></script>
<script src="{% static 'scripts/hoverIntent.js' %}"></script>
<script src="{% static 'scripts/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/jquery.pricefilter.js' %}"></script>
<script src="{% static 'scripts/custom.js' %}"></script>