{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Wrapper -->
<div id="wrapper">


<!-- Titlebar
================================================== -->
<section id="titlebar" class="browse-all">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Browse Recipes</h2>
		</div>

	</div>
	<!-- Container / End -->
</section>


<!-- Container -->
<div class="advanced-search-container">
	<div class="container">
		<div class="sixteen columns">
			<div id="advanced-search">

				<!-- Choose Category -->
				<div class="select">
					<label>Choose category</label>
					<select data-placeholder="Choose Category" class="chosen-select-no-single">
						{% for category in posts.category %}
						<option value="{{ category }}}">{{ category }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Choose ingredients -->
				
				<form action="#" method="get">
				
				<div class="select included-ingredients">
					<label>Select one or more ingredients that should be included in recipe</label>
					<select data-placeholder="Included Ingredients" class="chosen-select" multiple>
						{% for ingredient in ingredient %}
						<option value="{{ ingredient }}" name="ingredient">{{ ingredient }}</option>
						{% endfor %}
					</select>
					
					<div class="clearfix"></div>
					
					<!-- Search Input -->
					<nav class="search-by-keyword">
							<button><span>Search for Recipes</span><i class="fa fa-search"></i></button>
							<input class="search-field" name="q" type="text" placeholder="Search by keyword" value="{{ q }}"/>
						</form>
					</nav>
				
				</div>
				

				<div class="clearfix"></div>
			</div>

		</div>
	</div>
</div>


<div class="margin-top-35"></div>





<!-- Container -->
<div class="container">

	<!-- Headline -->
	<div class="sixteen columns">
 		<h3 class="headline">All Recipes</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>


		<!-- Isotope -->
		<div class="isotope">
			{% for post in posts %}

			<!-- Recipe #1 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{% url 'bab:recipepage' post.pk %}">
						<img src="{% static 'images/recipeThumb-01.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="{% url 'bab:recipepage' post.pk %}">{{ post.title }}</a></h3>
					
					<!-- Add icon library -->
					<div class="container">
						<span id="rateMe2"  class="empty-stars"></span>
						
					</div>
					<div class="star">
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						
					</div>
					<script>
							$(function(){ // wait for document to load
		 $('input.wow').rating();
		});
					</script>
					<div class="like">
						{{ post.likes_count }}명이 좋아합니다.
						{% if user in post.likes.all %}
							<a href="{% url 'bab:like_toggle' post.id %}">좋아요 취소</a>
						{% else %}
							<a href="{% url 'bab:like_toggle' post.id %}">좋아요</a>
						{% endif %}
						{% if user in post.favorite.all %}
							<a href="{% url 'bab:favorite_toggle' post.id %}">즐겨찾기 취소</a>
						{% else %}
							<a href="{% url 'bab:favorite_toggle' post.id %}">즐겨찾기 추가</a>
						{% endif %}
					</div>
					
					<div class="recipe-meta"><i class="fa fa-clock-o"></i> {{ post.view_count }}</div>

					<div class="clearfix"></div>
				</div>
			</div>
			{% endfor %}


			<!-- Recipe #1 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-01.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Mexican Grilled <br> Corn Recipe</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #2 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-02.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Choclate Cake With Green Tea Cream</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #3 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-03.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Thai Yellow Curry Chicken</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #4 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-2.html">
						<img src="{% static 'images/recipeThumb-04.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-2.html">Avocado Melon Salad With Lime Vinaigrette</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 15 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #5 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="images/recipeThumb-05.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Pollo Borracho With Homemade Tortillas</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #6 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-2.html">
						<img src="{% static 'images/recipeThumb-06.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-2.html">Sweet Chilli and Lime Chicken Wings</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #7 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-07.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Roast Chicken With Lemon Gravy</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 20 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #8 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-08.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Farmhouse Vegetable And Barley Soup</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>


		<!-- Pagination -->
		<div class="sixteen columns">
			<div class="pagination-container">
				<nav class="pagination">
					<ul>
						<li><a href="#" class="current-page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
						<li><a href="#" class="prev"></a></li>
						<li><a href="#" class="next"></a></li>
					</ul>
				</nav>
			</div>
		</div>

</div>


</div>
<!-- Wrapper / End -->

</body>
</html>
{% endblock %}