{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Wrapper -->
<div id="wrapper">


<!-- Titlebar
================================================== -->
<section id="titlebar" class="browse-all">
		<!-- Container -->
		<div class="container">
	
			<div class="eight columns">
				<h2>Browse Recipes</h2>
			</div>
	
		</div>
		<!-- Container / End -->
	</section>
	
	
	<!-- Container -->
	<div class="advanced-search-container">
		<div class="container">
			<div class="sixteen columns">
				<div id="advanced-search">
	                <form action = "{% url 'bab:browserecipes' %}" method ="POST">
					{% csrf_token %}	
					<!-- Choose Category -->
					<div class="select">
						<h4>레시피의 카테고리를 선택해주세요</h4>
						<select data-placeholder="Choose Category" class="chosen-select-no-single" name = "browse_category">
							<option value="면">면</option>
							<option value="밥">밥</option>
							<option value="아침">아침</option>
							<option value="점심">점심</option>
							<option value="저녁">저녁</option>
							<option value="국">국</option>
							<option value="샐러드">샐러드</option>
							<option value="고기">고기</option>
							<option value="해산물">해산물</option>
							<option value="야채">야채</option>
							<option value="디저트">디저트</option>
							<option value="기념일">기념일</option>
							<option value="5분요리">5분요리</option>
							<option value="전자레인지">전자레인지</option>
							<option value="음료">음료</option>
							<option value="빵">빵</option>
							<option value="다이어트">다이어트</option>
						</select>
					</div>
					<div class="clearfix"></div>

					<!-- Choose ingredients -->
					<div class="select included-ingredients">
						<label>원하는 재료를 선택해보세요!</label>
						<select data-placeholder="여러개의 재료 선택도 가능합니다!" class="chosen-select" name = "browse_ingredients" multiple>
							{% for ingredient in ingredients %}
							<option value="{{ingredient.ingre_name}}">{{ingredient.ingre_name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clearfix"></div>
	
					<!-- Search Input -->
					<nav class="search-by-keyword">
						<button><span>Search for Recips</span><i class="fa fa-search"></i></button>
						<input class="search-field" type="text" placeholder="키워드로 검색해보세요!" value=""/>
					</nav>
					<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="margin-top-35"></div>
	

<!-- Container -->
<div class="container">

	<!-- Headline -->
	<div class="sixteen columns">
 		<h3 class="headline">All Recipes</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>


		<!-- Isotope -->
		<div class="isotope">
			{% for post in posts %}

			<!-- Recipe #1 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{% url 'bab:recipepage' post.pk %}">
						<img src="{% static 'images/recipeThumb-01.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="{% url 'bab:recipepage' post.pk %}">{{ post.title }}</a></h3>
					
					<!-- Add icon library -->
					<div class="container">
						<span id="rateMe2"  class="empty-stars"></span>
						
					</div>
					<div class="star">
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						<input name="star1" type="radio" class="star"/>
						
					</div>
					<script>
							$(function(){ // wait for document to load
		 $('input.wow').rating();
		});
					</script>
					<div class="like">
						{{ post.likes_count }}명이 좋아합니다.
						{% if user in post.likes.all %}
							<a href="{% url 'bab:like_toggle' post.id %}">좋아요 취소</a>
						{% else %}
							<a href="{% url 'bab:like_toggle' post.id %}">좋아요</a>
						{% endif %}
						{% if user in post.favorite.all %}
							<a href="{% url 'bab:favorite_toggle' post.id %}">즐겨찾기 취소</a>
						{% else %}
							<a href="{% url 'bab:favorite_toggle' post.id %}">즐겨찾기 추가</a>
						{% endif %}
					</div>
					
					<div class="recipe-meta"><i class="fa fa-clock-o"></i> {{ post.view_count }}</div>

					<div class="clearfix"></div>
				</div>
			</div>
			{% endfor %}


			<!-- Recipe #1 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-01.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Mexican Grilled <br> Corn Recipe</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #2 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-02.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Choclate Cake With Green Tea Cream</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #3 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-03.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Thai Yellow Curry Chicken</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #4 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-2.html">
						<img src="{% static 'images/recipeThumb-04.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-2.html">Avocado Melon Salad With Lime Vinaigrette</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 15 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #5 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="images/recipeThumb-05.jpg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Pollo Borracho With Homemade Tortillas</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #6 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-2.html">
						<img src="{% static 'images/recipeThumb-06.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-2.html">Sweet Chilli and Lime Chicken Wings</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 45 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #7 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-07.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Roast Chicken With Lemon Gravy</a></h3>

					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 20 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Recipe #8 -->
			<div class="four isotope-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="recipe-page-1.html">
						<img src="{% static 'images/recipeThumb-08.jpg' %}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">Farmhouse Vegetable And Barley Soup</a></h3>

					<div class="rating four-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> 1 hr 30 min</div>

					<div class="clearfix"></div>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>


		<!-- Pagination -->
		<div class="sixteen columns">
			<div class="pagination-container">
				<nav class="pagination">
					<ul>
						<li><a href="#" class="current-page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
						<li><a href="#" class="prev"></a></li>
						<li><a href="#" class="next"></a></li>
					</ul>
				</nav>
			</div>
		</div>

</div>


</div>
<!-- Wrapper / End -->

</body>
</html>
{% endblock %}