{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Wrapper -->
<div id="wrapper">


<!-- Titlebar
================================================== -->
<section id="titlebar" class="browse-all">
		<!-- Container -->
		<div class="container">
	
			<div class="eight columns">
				<h2>Browse Recipes</h2>
			</div>
	
		</div>
		<!-- Container / End -->
	</section>
	
	
	<!-- Container -->
	<div class="advanced-search-container">
		<div class="container">
			<div class="sixteen columns">
				<div id="advanced-search">
	                <form action = "{% url 'bab:browserecipes' %}" method ="POST">
					{% csrf_token %}	
					<!-- Choose Category -->
					<div class="select">
						<h4>레시피의 카테고리를 선택해주세요</h4>
						<select data-placeholder="Choose Category" class="chosen-select-no-single" name = "browse_category">
							<option value="면">면</option>
							<option value="밥">밥</option>
							<option value="아침">아침</option>
							<option value="점심">점심</option>
							<option value="저녁">저녁</option>
							<option value="국">국</option>
							<option value="샐러드">샐러드</option>
							<option value="고기">고기</option>
							<option value="해산물">해산물</option>
							<option value="야채">야채</option>
							<option value="디저트">디저트</option>
							<option value="기념일">기념일</option>
							<option value="5분요리">5분요리</option>
							<option value="전자레인지">전자레인지</option>
							<option value="음료">음료</option>
							<option value="빵">빵</option>
							<option value="다이어트">다이어트</option>
						</select>
					</div>
					<div class="clearfix"></div>

					<!-- Choose ingredients -->
					<div class="select included-ingredients">
						<label>원하는 재료를 선택해보세요!</label>
						<select data-placeholder="여러개의 재료 선택도 가능합니다!" class="chosen-select" name = "browse_ingredients" multiple>
							{% for ingredient in ingredients %}
							<option value="{{ingredient.ingre_name}}">{{ingredient.ingre_name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clearfix"></div>
	
					<!-- Search Input -->
					<nav class="search-by-keyword">
						<button><span>Search for Recips</span><i class="fa fa-search"></i></button>
						<input class="search-field" type="text" placeholder="키워드로 검색해보세요!" value=""/>
					</nav>
					<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="margin-top-35"></div>
	

<!-- Container -->
<div class="container">

	<!-- Headline -->
	<div class="sixteen columns">
 		<h3 class="headline">모든 레시피</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>


		<!-- Isotope -->
		<div class="isotope">
			<!-- 모든 레시피 -->
			{% for post in posts %}
			<div class="four isotope-box columns">
				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{% url 'bab:recipepage' post.id %}">
						<img src="{{ post.image.url }}" class="rsImg" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">레시피 보러가기</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="recipe-page-1.html">{{post.title}}</a></h3>
					{% if post.star_rating == 5 %}
						<div class="rating five-stars">
							<div class="star-rating"></div>
							<div class="star-bg"></div>
						</div>
					{% else %}
						{% if post.star_rating == 4 %}
							<div class="rating four-stars">
								<div class="star-rating"></div>
								<div class="star-bg"></div>
							</div>
						{% else %}
							{% if post.star_rating == 3 %}
								<div class="rating three-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								{% if post.star_rating == 2 %}
									<div class="rating two-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% else %}
									<div class="rating one-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					<div class="recipe-meta"><i class="fa fa-clock-o"></i>{{post.cooking_time}}</div>
					<div class="clearfix"></div>
				</div>
			</div>
			{% endfor %}
		</div>
		
       
        <script>
			$(function(){ // wait for document to load
			$('input.wow').rating();
			});
		</script>
		<!-- Pagination -->
		<div class="sixteen columns">
			<div class="pagination-container">
				<nav class="pagination">
					<ul>
						<li><a href="#" class="current-page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
						<li><a href="#" class="prev"></a></li>
						<li><a href="#" class="next"></a></li>
					</ul>
				</nav>
			</div>
		</div>

</div>


</div>
<!-- Wrapper / End -->

</body>
</html>
{% endblock %}