{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="{% static 'images/slider2.jpg' %}" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>{{therecipe.title}}</h2>
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
				<span><a href="#reviews">(4 reviews)</a></span>
			</div>
		</section>
		

		<!-- Slider -->
		<div class="recipeSlider rsDefault">
			<img src="{{therecipe.image.url}}" class="rsImg" alt="레시피 이미지 입니다.">
		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>Serves: <strong itemprop="recipeYield">{{therecipe.amount}}</strong></li>
				<li>level: <strong itemprop="prepTime">{{ therecipe.cooking_level }}</strong></li>
				<li>Cooking: <strong itemprop="cookTime">{{therecipe.cooking_time}}</strong></li>
				<li>writer: <strong itemprop="cookTime">{{therecipe.user.username}}</strong></li>
			</ul>
			<a href="#" class="print"><i class="fa fa-print"></i> Print</a>
			<div class="clearfix"></div>
		</section>


		<!-- Ingredients -->
		<h3>재료</h3>
		<ul class="ingredients">
			{% for postingre in therecipe.postingres %}
				<li>
					<input id="{{ postingre.id }}" type="checkbox" name="check" value="{{ postingre.id }}">
					<label itemprop="ingredients" for="{{ postingre.id }}">{{postingre.ingredient}}{{postingre.quantity}}</label>
				</li>
			{% endfor %}							
		</ul>


		<!-- Directions -->
		<h3>설명:</h3>
		<ol class="directions" itemprop="recipeInstructions">
			<p itemprop="description" escapeXml="false">{{therecipe.content | linebreaksbr}}</p>
		</ol>


		<!-- Share Post -->
		<ul class="share-post">
			<li><a href="#" class="facebook-share">Facebook</a></li>
			<li><a href="#" class="twitter-share">Twitter</a></li>
			<li><a href="#" class="google-plus-share">Google Plus</a></li>
			<li><a href="#" class="pinterest-share">Pinterest</a></li>

			<!-- <li><a href="#add-review" class="rate-recipe">Add Review</a></li> -->
		</ul>
		<div class="clearfix"></div>

		
		<!-- Meta -->
<!--  		<div class="post-meta">
			By <a href="#" itemprop="author">Sandra Fortin</a>, on
			<meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
		</div>  -->


		<div class="margin-bottom-40"></div>


		<!-- Headline -->
 		<h3 class="headline">조회수가 가장 높은 레시피들도 확인해보세요!</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="related-posts">
		<!-- Recipe #1 -->
		{% for best_post in best_posts %}
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="#">
						<img src="{{best_post.image.url}}" class="rsImg" alt="레시피 이미지 입니다.">
						<div class="hover-cover"></div>
						<div class="hover-icon">레시피 확인하기!</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">{{best_post.title}}</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i>{{best_post.cooking_time}}</div>

					<div class="clearfix"></div>
				</div>
			</div>
		{% endfor %}	
		</div>	
		<div class="clearfix"></div>


		<div class="margin-top-15"></div>


		<!-- Comments
		================================================== -->
		<h3 class="headline">총 {{therecipe.comments.count}}<span class="comments-amount"></span>개의 리뷰가 있습니다.</span></h3><span class="line"></span><div class="clearfix"></div>
		
			<!-- Reviews -->
			<section class="comments" id="reviews">

				<ul>
					{% for comment in therecipe.comments %}
					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
						<div class="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><strong>{{comment.user.username}}</strong><span class="date">{{comment.created_at}}</span>
								<a href="#" class="reply"><i class="fa fa-reply"></i> 답글달기</a>
							</div>
							<p>{{comment.message}}</p>
							{% if comment.star == 5 %}
								<div class="rating five-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								{% if comment.star == 4 %}
									<div class="rating four-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% else %}
									{% if comment.star == 3 %}
										<div class="rating three-stars">
											<div class="star-rating"></div>
											<div class="star-bg"></div>
										</div>
									{% else %}
										{% if comment.star == 2 %}
											<div class="rating two-stars">
												<div class="star-rating"></div>
												<div class="star-bg"></div>
											</div>
										{% else %}
											<div class="rating one-stars">
												<div class="star-rating"></div>
												<div class="star-bg"></div>
											</div>
								 		{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						</div>
					{% endfor %}			
						<!-- Second Level -->
						<ul>
							<li>
								<div class="avatar"><img src="{% static 'images/author-photo.png' %}" alt="" /></div>
								<div class="comment-content"><div class="arrow-comment"></div>
								<div class="comment-by"><strong>Sandra Fortin</strong><span class="date">7th, October 2014</span>
								<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
								</div>
								<p>Donec porttitor tortor sit amet tortor egestas, id suscipit magna cursus. Nam facilisis, mi vel elementum porttitor, sapien magna posuere lorem, sed consectetur.</p>
								</div>
							</li>
						</ul>

					</li>
				 </ul>

			</section>
			<div class="clearfix"></div>
			<br>


		<!-- Add Comment
		================================================== -->

		<h3 class="headline">당신의 의견을 알려주세요!</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>
		
		<!-- Add Comment Form -->
		<form action = "{% url 'bab:comment_create' therecipe.pk %}" id="add-review" class="add-comment" method = "POST">
			{% csrf_token %}
			<fieldset>
				<label>별점: </label>
				<section class='rating-widget'>
					<!-- Rating Stars Box -->
					<div class='rating-stars text-center'>
						<ul id='stars'>
						<li class='star' title='Poor' data-value='1'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Fair' data-value='2'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Good' data-value='3'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Excellent' data-value='4'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='WOW!!!' data-value='5'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						</ul>
					</div>
				</section>
				<div class = "starclass"></div>
				<div class="clearfix"></div>
				<div>
					<label>댓글: <span>*</span></label>
					<textarea cols="40" rows="3" name = "message"></textarea>
				</div>

			</fieldset>

			<input type = "submit" class="button medium color" value = "등록!">
			<div class="clearfix"></div>

		</form>

	</div>
	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="#" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="Search for recipes" value=""/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>


	<!-- Author Box -->
	<div class="widget">
		<div class="author-box">
			<span class="title">Author</span>
			<span class="name">Sandra <br> Fortin</span>
			<span class="contact"><a href="mailto:sandra@chow.com">sandra@chow.com</a></span>
			<img src="{% static 'images/author-photo.png' %}" alt="">
			<p>I'm Sandra and this is where I share my stuff. I am madly in love with food. You will find a balance of healthy recipes, comfort food and indulgent desserts.</p>
		</div>
	</div>


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">Popular Recipes</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
		<!-- Recipe #1 -->
		<a href="#" class="featured-recipe">
			<img src="{% static 'images/featuredRecipe-01.jpg' %}" alt="">

			<div class="featured-recipe-content">
				<h4>Choclate Cake With Green Tea Cream</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<!-- Recipe #2 -->
		<a href="#" class="featured-recipe">
			<img src="{% static 'images/featuredRecipe-02.jpg' %}" alt="">

			<div class="featured-recipe-content">
				<h4>Mexican Grilled Corn Recipe</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<!-- Recipe #3 -->
		<a href="#" class="featured-recipe">
			<img src="{% static 'images/featuredRecipe-03.jpg' %}" alt="">

			<div class="featured-recipe-content">
				<h4>Pollo Borracho With Homemade Tortillas</h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>

		<div class="clearfix"></div>
	</div>


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">Share</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
		<ul class="share-buttons">
			<li class="facebook-share">
				<a href="#">
					<span class="counter">1,234</span>
					<span class="counted">Fans</span>
					<span class="action-button">Like</span>
				</a>
			</li>

			<li class="twitter-share">
				<a href="#">
					<span class="counter">863</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="google-plus-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>

</div>


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="{% static 'scripts/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'scripts/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'scripts/jquery.royalslider.min.js' %}"></script>
<script src="{% static 'scripts/responsive-nav.js' %}"></script>
<script src="{% static 'scripts/hoverIntent.js' %}"></script>
<script src="{% static 'scripts/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/jquery.pricefilter.js' %}"></script>
<script src="{% static 'scripts/custom.js' %}"></script>


<!-- Style Switcher
================================================== -->
<script src="{% static 'scripts/switcher.js' %}"></script>

<div id="style-switcher">
	<h2>Style Switcher <a href="#"></a></h2>
	
	<div>
		<h3>Predefined Colors</h3>
		<ul class="colors" id="color1">
			<li><a href="#" class="green" title="Green"></a></li>
			<li><a href="#" class="blue" title="Blue"></a></li>
			<li><a href="#" class="orange" title="Orange"></a></li>
			<li><a href="#" class="navy" title="Navy"></a></li>
			<li><a href="#" class="yellow" title="Yellow"></a></li>
			<li><a href="#" class="peach" title="Peach"></a></li>
			<li><a href="#" class="beige" title="Beige"></a></li>
			<li><a href="#" class="purple" title="Purple"></a></li>
			<li><a href="#" class="celadon" title="Celadon"></a></li>
			<li><a href="#" class="pink" title="Pink"></a></li>
			<li><a href="#" class="red" title="Red"></a></li>
			<li><a href="#" class="brown" title="Brown"></a></li>
			<li><a href="#" class="cherry" title="Cherry"></a></li>
			<li><a href="#" class="cyan" title="Cyan"></a></li>
			<li><a href="#" class="gray" title="Gray"></a></li>
			<li><a href="#" class="darkcol" title="Dark"></a></li>
		</ul>
		
	</div>
	
	<div id="reset"><a href="#" class="button color">Reset</a></div>
		
</div>
<!-- 별점 css
================================================== -->
<style>
	/* Rating Star Widgets Style */
	.rating-stars ul {
	list-style-type:none;
	padding:0;

	-moz-user-select:none;
	-webkit-user-select:none;
	}
	.rating-stars ul > li.star {
	display:inline-block;

	}

	/* Idle State of the stars */
	.rating-stars ul > li.star > i.fa {
	font-size:1.5em; /* Change the size of the stars */
	color:#ccc; /* Color on idle state */
	}

	/* Hover state of the stars */
	.rating-stars ul > li.star.hover > i.fa {
	color:#FFA7A7;
	}

	/* Selected state of the stars */
	.rating-stars ul > li.star.selected > i.fa {
	color: #ffc741;
	}
</style>
<!-- 별점 jquery
================================================== -->
<script>
 $(document).ready(function(){
  
  /* 1. Visualizing things on Hover - See next part for action on click */
  $('#stars li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
   
    // Now highlight all the stars that's not after the current hovered star
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });
    
  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });
  
  
  /* 2. Action to perform on click */
  $('#stars li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently selected
    var stars = $(this).parent().children('li.star');
    
    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');
    }
    
    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
    }
    
    // JUST RESPONSE (Not needed)
	var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
	$('.starclass').html("<input type = 'hidden' name = 'starvalue' value =" + ratingValue + ">");
    var msg = "";
    if (ratingValue > 1) {
        msg = "Thanks! You rated this " + ratingValue + " stars.";
    }
    else {
        msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
    }
    responseMessage(msg);
    
  });
  
  
});


function responseMessage(msg) {
  $('.success-box').fadeIn(200);  
  $('.success-box div.text-message').html("<span>" + msg + "</span>");


}
</script>

</body>
</html>
{% endblock %}