{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="{% static 'images/slider2.jpg' %}" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>{{therecipe.title}}</h2>
				{% if therecipe.star_rating == 5 %}
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>
				{% else %}
					{% if therecipe.star_rating == 4 %}
						<div class="rating four-stars">
							<div class="star-rating"></div>
							<div class="star-bg"></div>
						</div>
					{% else %}
						{% if therecipe.star_rating == 3 %}
							<div class="rating three-stars">
								<div class="star-rating"></div>
								<div class="star-bg"></div>
							</div>
						{% else %}
							{% if therecipe.star_rating == 2 %}
								<div class="rating two-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								<div class="rating one-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
				<span>
					<a href="#reviews">총{{therecipe.comments.count }}개의 댓글이 있습니다!</a>
					<a href="#">조회수: {{therecipe.view_count}}</a>
					{% if user in therecipe.likes.all %}
						<i class="icon ion-ios-heart like" data-pk="{{ therecipe.pk }}"></i>
						<i id = "count-{{therecipe.id}}">{{post.likes_count}}</i>		
					{% else %}
						<i class="icon ion-ios-heart-empty like" data-pk="{{ therecipe.pk }}"></i>
						<i id = "count-{{therecipe.id}}">{{post.likes_count}}</i>
					{% endif %}
				</span>
			</div>
		</section>
		
		<!-- Slider -->
		<div class="recipeSlider rsDefault">
			<img src="{{therecipe.image.url}}" class="rsImg" alt="레시피 이미지 입니다.">
		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>Serves: <strong itemprop="recipeYield">{{therecipe.amount}}</strong></li>
				<li>level: <strong itemprop="prepTime">{{ therecipe.cooking_level }}</strong></li>
				<li>Cooking: <strong itemprop="cookTime">{{therecipe.cooking_time}}</strong></li>
				<li>writer: <strong itemprop="cookTime">{{therecipe.user.username}}</strong></li>
			</ul>
			<div class="clearfix"></div>
		</section>


		<!-- Ingredients -->
		<h3>재료</h3>
		<ul class="ingredients">
			{% for postingre in therecipe.postingres %}
				<li>
					<input id="{{ postingre.id }}" type="checkbox" name="check" value="{{ postingre.id }}">
					<label itemprop="ingredients" for="{{ postingre.id }}">{{postingre.ingredient}}{{postingre.quantity}}</label>
				</li>
			{% endfor %}							
		</ul>


		<!-- Directions -->
		<h3>설명:</h3>
		<ol class="directions" itemprop="recipeInstructions">
			<p itemprop="description" escapeXml="false">{{therecipe.content | linebreaksbr}}</p>
		</ol>


		
		
		<!-- Meta -->
<!--  		<div class="post-meta">
			By <a href="#" itemprop="author">Sandra Fortin</a>, on
			<meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
		</div>  -->


		<div class="margin-bottom-40"></div>


		<!-- Headline -->
 		<h3 class="headline">조회수가 가장 높은 레시피들도 확인해보세요!</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="related-posts">
		<!-- Recipe #1 -->
		{% for best_post in best_posts %}
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="#">
						<img src="{{best_post.image.url}}" class="rsImg" alt="레시피 이미지 입니다.">
						<div class="hover-cover"></div>
						<div class="hover-icon">레시피 확인하기!</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">{{best_post.title}}</a></h3>
					
					{% if best_post.star_rating == 5 %}
						<div class="rating five-stars">
							<div class="star-rating"></div>
							<div class="star-bg"></div>
						</div>
					{% else %}
						{% if best_post.star_rating == 4 %}
							<div class="rating four-stars">
								<div class="star-rating"></div>
								<div class="star-bg"></div>
							</div>
						{% else %}
							{% if best_post.star_rating == 3 %}
								<div class="rating three-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								{% if best_post.star_rating == 2 %}
									<div class="rating two-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% else %}
									<div class="rating one-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}

					<div class="recipe-meta"><i class="fa fa-clock-o"></i>{{best_post.cooking_time}}</div>

					<div class="clearfix"></div>
				</div>
			</div>
		{% endfor %}	
		</div>	
		<div class="clearfix"></div>


		<div class="margin-top-15"></div>


		<!-- Comments
		================================================== -->
		<h3 class="headline">총 {{therecipe.comments.count}}<span class="comments-amount"></span>개의 리뷰가 있습니다.</span></h3><span class="line"></span><div class="clearfix"></div>
		
			<!-- Reviews -->
			<section class="comments" id="reviews">

				<ul>
					{% for comment in therecipe.comments %}
					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
						<div class="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><strong>{{comment.user.username}}</strong><span class="date">{{comment.created_at}}</span>
							</div>
							<p>{{comment.message}}</p>
							{% if comment.star == 5 %}
								<div class="rating five-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								{% if comment.star == 4 %}
									<div class="rating four-stars">
										<div class="star-rating"></div>
										<div class="star-bg"></div>
									</div>
								{% else %}
									{% if comment.star == 3 %}
										<div class="rating three-stars">
											<div class="star-rating"></div>
											<div class="star-bg"></div>
										</div>
									{% else %}
										{% if comment.star == 2 %}
											<div class="rating two-stars">
												<div class="star-rating"></div>
												<div class="star-bg"></div>
											</div>
										{% else %}
											<div class="rating one-stars">
												<div class="star-rating"></div>
												<div class="star-bg"></div>
											</div>
								 		{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						</div>
					{% endfor %}			

					</li>
				 </ul>

			</section>
			<div class="clearfix"></div>
			<br>


		<!-- Add Comment
		================================================== -->

		<h3 class="headline">당신의 의견을 알려주세요!</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>
		
		<!-- Add Comment Form -->
		<form action = "{% url 'bab:comment_create' therecipe.pk %}" id="add-review" class="add-comment" method = "POST">
			{% csrf_token %}
			<fieldset>
				<label>별점: </label>
				<section class='rating-widget'>
					<!-- Rating Stars Box -->
					<div class='rating-stars text-center'>
						<ul id='stars'>
						<li class='star' title='Poor' data-value='1'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Fair' data-value='2'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Good' data-value='3'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Excellent' data-value='4'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='WOW!!!' data-value='5'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						</ul>
					</div>
				</section>
				<div class = "starclass"></div>
				<div class="clearfix"></div>
				<div>
					<label>댓글: <span>*</span></label>
					<textarea cols="40" rows="3" name = "message"></textarea>
				</div>

			</fieldset>

			<input type = "submit" class="button medium color" value = "등록!">
			<div class="clearfix"></div>

		</form>

	</div>
	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">
	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">최근에 올라온 다른 레시피들도<br> 확인해보세요!</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		{% for latest_post in latest_posts %}
		<!-- Recipe #1 -->
		<a href="{% url 'bab:recipepage' latest_post.id %}" class="featured-recipe">
			<img src="{{latest_post.image.url}}" class="rsImg" alt="레시피 이미지 입니다.">
			<div class="featured-recipe-content">
				<h4 style = "width:100%">{{latest_post.title}}</h4>
				{% if latest_post.star_rating == 5 %}
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>
				{% else %}
					{% if latest_post.star_rating == 4 %}
						<div class="rating four-stars">
							<div class="star-rating"></div>
							<div class="star-bg"></div>
						</div>
					{% else %}
						{% if latest_post.star_rating == 3 %}
							<div class="rating three-stars">
								<div class="star-rating"></div>
								<div class="star-bg"></div>
							</div>
						{% else %}
							{% if latest_post.star_rating == 2 %}
								<div class="rating two-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% else %}
								<div class="rating one-stars">
									<div class="star-rating"></div>
									<div class="star-bg"></div>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
			<div class="post-icon"></div>
		</a>
        {% endfor %}
		<div class="clearfix"></div>
	</div>


	<!-- Popular Recipes -->
	
</div>


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="{% static 'scripts/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'scripts/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'scripts/jquery.royalslider.min.js' %}"></script>
<script src="{% static 'scripts/responsive-nav.js' %}"></script>
<script src="{% static 'scripts/hoverIntent.js' %}"></script>
<script src="{% static 'scripts/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.tooltips.min.js' %}"></script>
<script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'scripts/jquery.pricefilter.js' %}"></script>
<!-- <script src="{% static 'scripts/custom.js' %}"></script> -->


<!-- Style Switcher
================================================== -->
<script src="{% static 'scripts/switcher.js' %}"></script>

<div id="style-switcher">
	<h2>Style Switcher <a href="#"></a></h2>
	
	<div>
		<h3>Predefined Colors</h3>
		<ul class="colors" id="color1">
			<li><a href="#" class="green" title="Green"></a></li>
			<li><a href="#" class="blue" title="Blue"></a></li>
			<li><a href="#" class="orange" title="Orange"></a></li>
			<li><a href="#" class="navy" title="Navy"></a></li>
			<li><a href="#" class="yellow" title="Yellow"></a></li>
			<li><a href="#" class="peach" title="Peach"></a></li>
			<li><a href="#" class="beige" title="Beige"></a></li>
			<li><a href="#" class="purple" title="Purple"></a></li>
			<li><a href="#" class="celadon" title="Celadon"></a></li>
			<li><a href="#" class="pink" title="Pink"></a></li>
			<li><a href="#" class="red" title="Red"></a></li>
			<li><a href="#" class="brown" title="Brown"></a></li>
			<li><a href="#" class="cherry" title="Cherry"></a></li>
			<li><a href="#" class="cyan" title="Cyan"></a></li>
			<li><a href="#" class="gray" title="Gray"></a></li>
			<li><a href="#" class="darkcol" title="Dark"></a></li>
		</ul>
		
	</div>
	
	<div id="reset"><a href="#" class="button color">Reset</a></div>
		
</div>
<!-- 별점 css
================================================== -->
<style>

	/* Rating Star Widgets Style */
	.rating-stars ul {
	list-style-type:none;
	padding:0;

	-moz-user-select:none;
	-webkit-user-select:none;
	}
	.rating-stars ul > li.star {
	display:inline-block;

	}

	/* Idle State of the stars */
	.rating-stars ul > li.star > i.fa {
	font-size:1.5em; /* Change the size of the stars */
	color:#ccc; /* Color on idle state */
	}

	/* Hover state of the stars */
	.rating-stars ul > li.star.hover > i.fa {
	color:#FFA7A7;
	}

	/* Selected state of the stars */
	.rating-stars ul > li.star.selected > i.fa {
	color: #ffc741;
	}

	.like {
		color: red;
	}
</style>
<!-- 별점 jquery
================================================== -->
<script>
 $(document).ready(function(){
  
  /* 1. Visualizing things on Hover - See next part for action on click */
  $('#stars li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
   
    // Now highlight all the stars that's not after the current hovered star
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });
    
  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });
  
  
  /* 2. Action to perform on click */
  $('#stars li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently selected
    var stars = $(this).parent().children('li.star');
    
    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');vi
    }
    
    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
    }
    
    // JUST RESPONSE (Not needed)
	var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
	$('.starclass').html("<input type = 'hidden' name = 'starvalue' value =" + ratingValue + ">");
    var msg = "";
    if (ratingValue > 1) {
        msg = "Thanks! You rated this " + ratingValue + " stars.";
    }
    else {
        msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
    }
    responseMessage(msg);
    
  });
  
  
});


function responseMessage(msg) {
  $('.success-box').fadeIn(200);  
  $('.success-box div.text-message').html("<span>" + msg + "</span>");
}

$(".like").click(function(){ // 버튼을 click하면 class의 like를 가져와서 ajax 기능 시작
	var pk = $(this).data('pk');
	$.ajax({
		type: "POST", // 데이터 전송 타입
		url: "{% url 'bab:post_like' therecipe.pk %}", // 새로고침은 안하지만 데이터를 보낼 url은 필요하므로 보낼 url 지정
		data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
		dataType: "json",
		// post_like에서 반환하기로 한 데이터 타입 json {'like_count': post.like_count}을 반환
	
		success: function(response){ // 통신 성공시 수행
			if (response.message == "like") {
				$(".like").removeClass('ion-ios-heart-empty');
				$(".like").addClass('ion-ios-heart');
				$("#count-"+pk).html(response.likes_count+"개")

			}
			else if (response.message == "like_cancel") {
				$(".like").removeClass('ion-ios-heart');
				$(".like").addClass('ion-ios-heart-empty');
				$("#count-"+pk).html(response.likes_count+"개")
			}
		},
		error: function(request, status, error){ // 통신 실패시 수행
			alert("로그인이 필요합니다.")
			window.location.replace("/accounts/login/")
		},
	})
})


// <span>
// 	{% if user in therecipe.likes.all %}
// 		<button class="btn btn-outline-info">
// 			<i class="icon ion-ios-heart like" data-pk="{{ therecipe.pk }}"></i>
// 		</button>
// 	{% else %}
// 		<button class="btn btn-outline-info">
// 			<i class="icon ion-ios-heart-empty like" data-pk="{{ therecipe.pk }}"></i>
// 		</button>
// 	{% endif %}
// </span>


</script>
{% endblock %}