{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="overflow-reset">

<!-- Wrapper -->
<div id="wrapper">


<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Submit Recipe</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Submit Recipe</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>



<!-- Content
================================================== -->
<div class="container">
	<div class="sixteen columns">
		<div class="submit-recipe-form">

			<!-- Recipe Title -->
			<h4>레시피 제목을 적어주세요!</h4>
			<form action = "{% url 'bab:postcreate' %}" method = "POST" enctype = "multipart/form-data"> 
				{% csrf_token %}
				
				<nav class="title">
						<input class="search-field" type="text" name = "title" placeholder="예)전남친 토스트" value=""/>
				</nav>
				<div class="clearfix"></div>
				<div class="margin-top-25"></div>


				<!-- Choose Category -->
				<div class="select">
						<h4>레시피의 카테고리를 선택해주세요</h4>
						<select data-placeholder="Choose Category" class="chosen-select-no-single" name = "category">
							<option value="면">면</option>
							<option value="밥">밥</option>
							<option value="아침">아침</option>
							<option value="점심">점심</option>
							<option value="저녁">저녁</option>
							<option value="국">국</option>
							<option value="샐러드">샐러드</option>
							<option value="고기">고기</option>
							<option value="해산물">해산물</option>
							<option value="야채">야채</option>
							<option value="디저트">디저트</option>
							<option value="기념일">기념일</option>
							<option value="5분요리">5분요리</option>
							<option value="전자레인지">전자레인지</option>
							<option value="음료">음료</option>
							<option value="빵">빵</option>
							<option value="다이어트">다이어트</option>
						</select>
					</div>
	
	
				<div class="margin-top-25"></div>
			
				<!-- Short Summary -->
				<h4>레시피 설명을 적어주세요</h4>
				<textarea class="WYSIWYG" name="content" cols="40" rows="3" id="content" spellcheck="true"></textarea>

				<div class="margin-top-25"></div>


				<!-- Upload images -->
				<h4>레시피 사진을 올려주세요</h4>
				

				<input class = "upload-btn" type = "file" name = "image" placeholder = "아직 선택된 사진이 없습니다.">

				<div class="clearfxix"></div>
				<div class="margin-top-15"></div>


				<!-- Ingredients -->
				<fieldset class="addrecipe-cont" name="ingredients">
					<h4>재료를 입력해주세요</h4>
						<table name = "memberTable" id="memberTable" border="1" style="width:500px;">
							<tr>
								<td><input type="text" name ="ingredientname"  placeholder = "재료명"/></td>
								<td><input type="text" name ="ingredientnote"  placeholder = "(양, 추가정보)"/></td>
								<td style="width:50px;"></td>
							</tr>
						</table>
				</fieldset>
			 
			
			 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
			 <script type="text/javascript">
				$(function() {
					var itemIndex = 0;
					$("#btnAddRow").on("click",function() {
						// clone
						itemIndex++;
						
						$.trClone = $("#memberTable tr:last").clone().html();
						$.newTr = $("<tr>"+$.trClone+"</tr>");

						$("#memberTable").append($.newTr);
						// $("#memberTable").append('<tr><td><input name = "igredientname'+ itemIndex+'"  type="text"/></td><td><input name="ingredientnote'+ itemIndex+'"  type="text"/></td><td style="width:50px;"></td></tr>');
						// delete Button 추가
						$.btnDelete = $(document.createElement("input"));
						$.btnDelete.attr({
							name : "btnRemove",
							type : "button" ,
							value : "삭제"
						});
						$("#memberTable tr:last td:last").html("");
						$("#memberTable tr:last td:last").append($.btnDelete);
		
						// 버튼에 클릭 이벤트 추가
						$("#memberTable tr>td:last>input[type='button']").on('click', function(){
							$(this).parent().parent().remove();
						});
					});
		
					// 초기화
					$("#tableReset").on("click",function(){
						$("#frmTest").each(function(){ this.reset(); });
						$("input[name='btnRemove']").each(function () {
							$(this).trigger('click');
						});
					});
				});
			</script>

			<div style="width:500px;text-align:right;">
					<input type="button" value="재료추가"  id="btnAddRow" />
					<input type="button" value="초기화" id="tableReset"/>
			</div>

			<!-- Additional Informations -->
			<h4>마지막으로 추가정보를 입력해주세요!</h4>

			<fieldset class="additional-info">
				<table>

				<tr class="ingredients-cont">
					<td class="label"><label for="4">양</label></td>
					<td><input id="4" type="text" placeholder="예)1인분" name = "amount"/></td>
				</tr>

				<tr class="ingredients-cont">
					<td class="label"><label for="2">요리시간</label></td>
					<td><input id="2" type="text" placeholder="에)30분" name = "cooking_time"/></td>
				</tr>

				<tr class="ingredients-cont">
					<td class="label"><label for="4">난이도</label></td>
					<td>
						<select data-placeholder="Choose Level" class="chosen-select-no-single" name = "cooking_level">
							<option value="1">&nbsp;</option>
							<option value="아주쉬움">아주쉬움</option>
							<option value="쉬움">쉬움</option>
							<option value="보통">보통</option>
							<option value="어려움">어려움</option>
						</select>
					</td>
				</tr>
				</table>
			</fieldset>


			<div class="margin-top-25"></div>

	
			<div class="margin-top-25"></div>

			<input type="submit" class="button color big" id="sendMessageButton" value = "레시피 등록">
			

		</div>
	</div>
</div>
<!-- Container / End -->


<div class="margin-top-50"></div>

</div>
<!-- Wrapper / End -->
</form>	






<!— WYSIWYG Editor —>
<script type="text/javascript" src="{% static 'scripts/jquery.sceditor.bbcode.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.sceditor.js' %}"></script>

</body>
</html>
{% endblock %}